* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header{
	margin: auto;
	width: 200px;
	font-family: arial, helvetica, sans-serif;

}
.nav li a {

background-color: #212121;
color:white;
text-decoration: none;
padding: 10px 15px;
display: block;

}


}

.nav li a{
	background color: #434343;
}
.nav li ul{
	display: none;
	position: absolute;;
	min-width: 140px;
}
body {
	background: #FAFAFA;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background: #F44336;
	border-top: 20px solid #D32F2F;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.principal .formulario {
	color: #212121;
	text-align: center;
}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario input[type=text].error {
	border: 5px solid #D32F2F;
	color: red;
}

.principal .formulario .boton {
	background: none;
	border: 1px solid #D32F2F;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.mostrar_empleos .formulario .boton {
	background: black;
	border: 1px solid #D32F2F;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	margin: auto;
	width: auto;
}


.principal .formulario.boton:hover {
	border: 1px solid #fff;
}

/* - Empleos - */
.empleos .lista {
	list-style: none;
	text-decoration:bold;
}

.empleos .lista li {
	border-bottom: 1px solid #B6B6B6;

}

.empleos .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.empleos .lista li a:hover {
	text-decoration: line-through;
}

h3 {

	text-align: center;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;

}